

.leftbar{
    gap:20px;
    position: sticky;
    /* flex: 2; */
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    padding: 20px;

}
::-webkit-scrollbar {
    display: none;
  }

.container{
    padding: 20px;
}
.menu{
    gap:20px;
    display: flex;
    flex-direction: column;

}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.img{
    border: 1px solid lightgray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.item{
    display: flex;
    align-items: center;
    gap:10px;
    
}
hr{
    background-color: lightgray;
    height: 0.5px;
    border: none;
    margin: 20px 0px;
}
span{
font-size: 12px;
}