
/* @import "../../style.css" */
.post{
margin-top: 20px;
border-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.container{
    padding: 20px;

}
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.midimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.userinfo{
  gap: 20px;  
  /* display: block; */
}
.details{
    display: flex;
    flex-direction: column;

}
.name{
font-weight: 500;
}
.date{
font-size: 12px;
}
.content{
    margin: 20px 0px;
    max-height: 500px;
    object-fit: cover;
    margin-top: 20px;
}
.postimg{
    height: 100%;
    width: 100%;
    border-radius: 1px;
    object-fit: cover;
    max-height: 400px;

}
.info{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
}
