.rightbar{
    flex: 3;
    gap:20px;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    /* background-color:  #e6eeff; */

}
.container{
    padding: 20px;
}
.items{
/* display: flex;
align-items: center; */
display: block;


-webkit-box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.38);
-moz-box-shadow:0px 10px 25px -10px  rgba(0,0,0,0.38);
box-shadow: 0px 10px 25px -10px  rgba(0,0,0,0.38);

padding: 20px;
/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
margin-bottom: 20px;

}
span{
color: gray;
}
.btn{
    display: flex;
align-items: center;
gap: 10px;

}
.userinfo{
    display: flex;
            align-items: center;
            gap: 20px;
            position: relative;
}
img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}
.user{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
button {
    border:none;
    padding: 5px;
    color: white;
    cursor: pointer;

  }
  .btn:first-child {
    background-color: #5271ff;
  }

  .dbtn {
    background-color: #f0544f;
  }
  .online{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: 0;
    left: 30px;
  }